* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section{
    padding: 120px 0;

}
.todo{
    padding: 32px;
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 0 auto;
}

.todo__form{

}
.todo__input{
    width: 100%;
    line-height: 48px;
    margin-bottom: 24px;
    padding: 0 12px;
    font-size: 22px;
}
.todo__tasks{

}
.todo__task{
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #efefef;
    justify-content: space-between;

}
.todo__task-delete {
    text-decoration: none;
    color: #bb1c1c;
    padding: 6px 0;
    font-weight: bold;
    cursor: pointer;
}

.todo__error-message {
    display:none;
    font-size: 21px;
    text-align: center;
    background-color: #eb22225f;
    color: #bb1c1c;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
}